<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Most Rented</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/creta-1504179556-prod-var.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/creta-1504179556-prod-var.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Creta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Hyundai Creta, also known as Hyundai ix25, is a subcompact crossover produced by the South Korean manufacturer Hyundai since 2014. Initially intended for the Indian market, the Creta was launched subsequently in China and Russia.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/OIP.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/OIP.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Verna</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Hyundai Verna, also known as the Hyundai Accent in some markets, is a popular compact sedan produced by the South Korean automaker Hyundai Motor Company. The Verna has been in production since the early 1990s and has gone through multiple generations, with each iteration receiving updates and improvements in design, technology, and performance..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/928742-mahindra-thar.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/928742-mahindra-thar.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Thar</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Mahindra Thar is a rugged and iconic off-road SUV manufactured by the Indian automaker Mahindra & Mahindra. It is known for its robust design, excellent off-road capabilities, and a history that dates back to its initial launch in 1947. The Thar has been a popular choice among off-road enthusiasts and adventure seekers in India and other select markets. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2015_Honda_Civic_Si_Coupe_Orange.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2015_Honda_Civic_Si_Coupe_Orange.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Honda Civic</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">The Honda Civic is a well-known and popular compact car model produced by the Japanese automaker Honda. The Civic has a long and storied history, known for its reliability, fuel efficiency, and practicality. It has gone through multiple generations and has seen various updates and changes over the years. </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be a Part
                        <br />
                        Of Our
                        <br />
                        Service
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>
